.PokeCard {
    display: inline-block;
    background-color: lightgray;
    border-radius: 25px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.PokeName {
    color: blue;
}